.popup__inputs {
    display: flex;
    flex-direction: column;
    width: 358px;
    margin-left: 36px;
    padding: 0;
    border: none;
}
  
.popup__input-name {
    color: #2f71e6;
    max-width: 139px;
    margin-bottom: 9px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
  
.popup__input-name_margin {
    margin-top: 30px;
}
  
.popup__input {
    color: #000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    margin-bottom: 3px;
    padding-left: 0;
    padding-bottom: 11px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
  
.popup__input:focus {
    outline: 1px solid blue;
}
  
.popup__input:hover {
    outline: 1px solid blue;
}
  
.popup__input-error {
    color: #ff0000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
  
@media screen and (max-width: 550px) {
    .popup__inputs {
        width: 288px;
        margin-left: 16px;
    }
  
    .popup__input {
        width: 288px;
    }
}
  