.popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s linear;
}

.popup:hover {
    cursor: pointer;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s linear;
}

.popup__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 430px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 34px 36px 28px;
    box-sizing: border-box;
    position: relative;
}

.popup__form:hover {
    cursor: default;
}

.popup__title {
    color: #1a1b22;
    margin-top: 0;
    margin-bottom: 22px;
    width: 100%;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.popup__submit-button {
    margin-top: 18px;
    margin-bottom: 16px;
    background-color:#2f71e5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    height: 64px;
    color: #fff;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 0;
    border: 0;
    width: 100%;
    transition: background-color .2s;
}

.popup__submit-button:hover {
    background: #347eff;
    cursor: pointer;
}

.popup__submit-button_disabled {
    background-color:#e6e8eb;;
    color: #b6bcbf;
    pointer-events: none;
    box-shadow: none;
}

.popup__submit-button_disabled:hover {
    cursor: default;
}

.popup__link-text {
    margin: 0;
    align-self: center;
    color: #000;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625rem;
}

.popup__link {
    color: #2f71e5;
}

.popup__link:hover {
    cursor: pointer;
    opacity: 0.8;
}

.popup__close-button {
    top: -46px;
    right: -46px;
    width: 40px;
    height: 40px;
    padding: 0;
    background-image: url('../../images/buttons/close-button.svg');
    background-position: center;
    position: absolute;
    border: none;
    background-color: transparent;
    transition: opacity .2s;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .popup__form {
        padding: 16px 16px 204px;
    }

    .popup__close-button {
        height: 24px;
        top: -46px;
        right: 0;
        width: 24px;
    }
}
