.saved-news-header { 
    width: 100%;
    max-width: 1440px;
    padding: 40px 104px 56px;
    box-sizing: border-box;
}

.saved-news-header__title {
    color: rgba(26, 27, 34, 0.5);
    max-width: 712px;
    margin-top: 0;
    margin-bottom: 28px;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.saved-news-header__list {
    color: #1a1b22;
    max-width: 530px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 2.875rem;
}

.saved-news-header__keywords-list {
    color: #1a1b22;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.saved-news-header__keyword {
    font-weight: bold;
}

@media screen and (max-width: 1350px) {
    .saved-news-header {
        padding: 24px 40px 32px;
    }

    .saved-news-header__title {
        margin-bottom: 16px;
        font-size: 0.875rem;
        line-height: 1.5rem;
    }

    .saved-news-header__list {
        margin-bottom: 16px;
        max-width: 336px;
        font-size: 1.875rem;
        line-height: 2.125rem;
    }

    .saved-news-header__keywords-list {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 800px) {
    .saved-news-header {
        padding-top: 64px;
    }
}

@media screen and (max-width: 550px) {
    .saved-news-header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .saved-news-header__title {
        font-size: 0.75rem;
    }

    .saved-news-header__keywords-list {
        font-size: 1.125rem;
    }
}
