.saved-news-header {
    max-width: 1440px;
    margin: 0 auto;
}

.saved-news-header__block {
    margin-top: 40px;
    margin-left: 104px;
    margin-bottom: 56px;
}

.saved-news-header__subtitle {
    color: rgba(26, 27, 34, 0.5);
    max-width: 712px;
    margin: 0 0 28px 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.saved-news-header__title {
    color: #1a1b22;
    max-width: 530px;
    margin: 0 0 30px 0;
    font-family: 'Roboto Slab', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
}

.saved-news-header__keyword-list {
    color: #1a1b22;
    max-width: 712px;
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.saved-news-header__keyword {
    font-weight: 900;
}

@media screen and (max-width: 800px) {
    .saved-news-header__block {
        margin-top: 24px;
        margin-left: 40px;
        margin-bottom: 32px;
    }

    .saved-news-header__subtitle {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .saved-news-header__title {
        max-width: 336px;
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 34px;
    }

    .saved-news-header__keyword-list {
        font-size: 14px;
    }
}

@media screen and (max-width: 550px) {
    .saved-news-header__block {
        margin-top: 8px;
        margin-left: 16px;
    }

    .saved-news-header__subtitle {
        max-width: 288px;
        font-size: 12px;
        line-height: 24px;
    }

    .saved-news-header__title {
        max-width: 288px;
    }

    .saved-news-header__keyword-list {
        max-width: 288px;
        font-size: 18px;
    }
}
