.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  .page__search-form {
    margin-top: -80px;
  }
  
  @media screen and (max-width: 767px) {
    .page__search-form {
      margin-top: 0;
    }
  }