.about {
    display: flex;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
  
.about__avatar {
    max-width: 464px;
    max-height: 464px;
    margin: 80px 56px 80px 104px;
    border-radius: 1000px;
}
  
.about__container {
    margin-top: 131px;
    margin-bottom: 279px;
}
  
.about__title {
    color: #1a1b22;
    max-width: 496px;
    margin: 0;
    font-family: 'Roboto Slab', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;  
}
  
.about__paragraph {
    color: #1a1b22;
    max-width: 600px;
    margin: 24px 0 0 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;  
}
  
@media screen and (max-width: 1350px) {
    .about__avatar {
        width: 300px;
        height: 300px;
    }
  
    .about__container {
        margin-right: 40px;
        margin-bottom: 72px;
    }
}
  
@media screen and (max-width: 800px) {
    .about__container {
        margin-top: 40px;
        margin-bottom: 72px;
    }
  
    .about__title {
        max-width: 424px;
        font-size: 30px;
        line-height: 40px;
    }
  
    .about__avatar {
        max-width: 232px;
        max-height: 232px;
        margin-left: 40px;
        margin-right: 32px;
    }
  
    .about__paragraph {
        max-width: 424px;
    }
}
  
@media screen and (max-width: 550px) {
    .about {
        flex-direction: column;
    }
  
    .about__avatar {
        align-self: center;
        max-width: 272px;
        max-height: 272px;
        margin: 32px 24px 24px;
    }
  
    .about__container {
        max-width: 320px;
        margin: 0 auto 80px;
    }
  
    .about__title {
        max-width: 288px;
        margin-left: 16px;
        margin-right: 16px;
    }
  
    .about__paragraph {
        max-width: 288px;
        margin-left: 16px;
        margin-right: 16px;
    }
}