.about {
    display: grid;
    grid-template-columns: 464px 600px;
    align-items: center;
    column-gap: 56px;
    width: 100%;
    max-width: 1440px;
    padding: 80px 104px 80px;
    box-sizing: border-box;
}

.about__avatar {
    width: 100%;
    border-radius: 1000px;
}

.about__avatar::after {
    content: '';
    display: block;
    padding-top: 100%;
}

.about__subtitle {
    margin-top: 0;
    margin-bottom: 24px;
    color: #1a1b22;
    max-width: 496px;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 2.875rem;
}

.about__paragraph {
    margin-top: 0;
    margin-bottom: 16px;
    max-width: 600px;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.about__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1350px) {
    .about {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1050px) {
    .about {
        grid-template-columns: 232px 1fr;
        column-gap: 32px;
        padding: 40px 40px 61px;
    }

    .about__subtitle {
        margin-bottom: 16px;
        font-size: 1.875rem;
        line-height: 2.5rem;
    }
}

@media screen and (max-width: 800px) {
    .about {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 24px;
        padding: 32px 16px 80px;
        justify-items: center;
    }

    .about__avatar {
        max-width: 350px;
    }
}

@media screen and (max-width: 550px) {
    .about__avatar {
        padding-left: 8px;
        padding-right: 8px;
    }
}
