.navigation {
    display: flex;
    align-items: center;
}

.navigation__link {
    margin: 30px 32px 26px 0;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.navigation__link_color_gray {
    color: #b6bcbf;
}

.navigation__link_color_dark {
    color: #1a1b22;
}

.navigation__underline::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    top: 47px;
    right: 0px;
}

.navigation__underline_color_white::before {
    background-color: #fff;
}

.navigation__underline_color_dark::before {
    background-color: #1a1b22;
}

.navigation__auth-button {
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
    padding: 10px 12px 12px;
    color: #fff;
    width: 176px;
    margin-top: 19px;
    margin-bottom: 13px;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.navigation__auth-button:hover {
    cursor: pointer;
}

.navigation__logout-button {
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
    color: #fff;
    padding: 10px 15px 12px 19px;
    margin-top: 19px;
    margin-bottom: 13px;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.navigation__logout-button_color_dark {
    border: 1px solid #1A1B22;
    color: #1a1b22;
}

.navigation__logout-button:hover {
    cursor: pointer;
}

.navigation__logout-icon {
    margin-left: 6px;
}

@media screen and (max-width: 1023px) {
    .navigation__link {
        font-size: 1rem;
        margin: 22px 16px 20px 0;
    }

    .navigation__underline::before {
        top: 41px;
    }

    .navigation__auth-button {
        margin-top: 14px;
        margin-bottom: 12px;
        padding-top: 7px;
        padding-bottom: 7px;
        width: 152px;
        font-size: 1rem;
    }

    .navigation__logout-button {
        margin-top: 14px;
        margin-bottom: 12px;
        padding: 7px 13px 7px 15px;
        width: 100px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .navigation {
        flex-direction: column;
        align-items: center;
        position: absolute;
        visibility: hidden;
        background-color: #000;
        padding: 40px 16px 24px;
        width: 100%;
        top: 100%;
        right: 0;
        box-sizing: border-box;
    }

    .navigation_bg_white {
        background-color: #fff;
    }

    .navigation_opened {
        visibility: visible;
    }

    .navigation__underline::before {
        visibility: hidden;
    }

    .navigation__link {
        margin: 0 0 30px 0;
    }

    .navigation__link_color_gray {
        color: #fff;
    }

    .navigation__auth-button {
        margin: 0;
        padding: 14px 74px 16px;
        width: 288px;
        font-size: 1.125rem;
    }

    .navigation__logout-button {
        margin: 0;
        padding: 14px 74px 16px;
        width: 288px;
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 424px) {
    .navigation {
        align-items: flex-start;
    }
}
