.search {
    max-width: 1440px;
    margin-top: 80px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    max-width: 608px;
    margin-left: auto;
    margin-right: auto;
}

.search-form__title {
    color: #fff;
    max-width: 608px;
    margin-bottom: 32px;
    margin-top: 0;
    font-family: 'Roboto Slab', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
}

.search-form__paragraph {
    color: #fff;
    max-width: 545px;
    margin-bottom: 64px;
    margin-top: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.search-form__search-bar {
    background: #fff;
    display: flex;
    position: relative;
    max-width: 608px;
    border-radius: 100px;
}

.search-form__input {
    color: #1a1b22;
    outline: none;
    width: 100%;
    padding-left: 24px;
    border-radius: 100px;
    border: none;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.search-form__input-error {
    color: rgb(255, 6, 6);
    display: none;
    position: absolute;
    top: -25px;
    left: 20px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-rendering: optimizeLegibility;
}

.search-form__input-error_active {
    display: block;
}

.search-form__submit-button {
    color: #fff;
    background: #2f71e5;
    width: 168px;
    height: 64px;
    border-radius: 100px;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.search-form__submit-button:hover {
    background: #347eff;
}

.search-form__submit-button:focus {
    background: #2a65cc;
}

.search-form__submit-button:active {
    outline: none;
}

@media screen and (max-width: 800px) {
    .search {
        margin-top: 38px;
        padding-bottom: 48px;
    }

    .search-form {
        max-width: 448px;
    }

    .search-form__title {
        max-width: 385px;
        margin-bottom: 16px;
        font-size: 36px;
        line-height: 40px;
    }

    .search-form__paragraph {
        max-width: 452px;
        margin-bottom: 48px;
    }

    .search-form__search-bar {
        max-width: 448px;
    }

    .search-form__submit-button {
        width: 160px;
        height: 56px;
    }
}

@media screen and (max-width: 550px) {
    .search {
        margin-top: 30px;
        padding-bottom: 32px;
    }

    .search-form {
        max-width: 288px;
    }

    .search-form__title {
        max-width: 288px;
    }

    .search-form__paragraph {
        max-width: 288px;
        margin-bottom: 122px;
    }

    .search-form__search-bar {
        display: block;
        background: none;
        max-width: 288px;
        border-radius: 0px;
    }

    .search-form__input {
        max-width: 270px;
        margin-bottom: 16px;
        height: 56px;
        padding-left: 16px;
    }

    .search-form__submit-button {
        width: 288px;
    }
}

@media screen and (max-width: 319px) {
    .search-form {
        margin: 0 16px;
    }
}
