.footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
  
.footer__copyright {
    color: #b6bcbf;
    max-width: 433px;
    margin-top: 32px;
    margin-left: 104px;
    margin-bottom: 26px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
  
.footer__container {
    display: flex;
}
  
.footer__list {
    display: flex;
    justify-content: space-between;
    width: 304px;
    margin-top: 32px;
    margin-right: 42px;
    margin-bottom: 26px;
    padding-left: 0;
    list-style-type: none;
}
  
.footer__link {
    color: #1a1b22;
    text-align: center;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}
  
.footer__link:hover {
    transition: opacity 0.3s ease;
    opacity: 0.6;
}
  
.footer__icons {
    display: flex;
    justify-content: space-between;
    width: 68px;  
    margin-top: 32px;
    margin-right: 104px;
    margin-bottom: 26px;
    padding-left: 0;
    list-style-type: none;
}
  
.footer__image-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
  
.footer__image-icon:hover {
    transition: opacity 0.3s ease;
    opacity: 0.6;
}
  
@media screen and (max-width: 950px) {
    .footer__copyright {
        max-width: 300px;
        margin-top: 24px;
        margin-left: 40px;
        margin-bottom: 18px;
    }
  
    .footer__list {
        width: 264px;
        margin-top: 21px;
        margin-right: 25px;
        margin-bottom: 21px;
    }
  
    .footer__icons {
        width: 66px;
        margin-top: 21px;
        margin-right: 40px;
        margin-bottom: 21px;
    }
}
  
@media screen and (max-width: 750px) {
    .footer {
        flex-direction: column;
    }
  
    .footer__copyright {
        align-self: center;
        margin-left: 0;
    }
  
    .footer__container {
        align-self: center;
    }
  
    .footer__icons {
        margin-right: 0;
    }
}
  
@media screen and (max-width: 550px) {
    .footer__copyright {
        text-align: center;
        order: 1;
        width: 288px;
        margin-top: 40px;
        margin-left: 16px;
        margin-right: 16px;
    }
  
    .footer__list {
        flex-direction: column;
        width: 200px;
        height: 72px;
        margin: 0;
    }
  
    .footer__container {
        justify-content: space-between;
        width: 288px;
        margin-top: 20px;
        margin-left: 16px;
        margin-right: 16px;
    }
  
    .footer__icons {
        margin: 0;
    }
}
  