.news-card-list {
    background: #f5f6f7;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 80px;
}
  
.news-card-list__title {
    color: #1a1b22;
    max-width: 712px;
    margin: 0 0 64px 104px;
    padding-top: 80px;
    font-family: 'Roboto Slab', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
}
  
.news-card-list__block {
    max-width: 1237px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin: 0 auto;
    justify-content: center;
}
  
.news-card-list__button {
    color: #1a1b22;
    background: #fff;
    display: block;
    width: 288px;
    height: 64px;
    margin: 64px auto 0 auto;
    border-radius: 80px;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
  
.news-card-list__button_disabled {
    display: none;
}
  
.news-card-list__button:hover {
    background: rgba(255, 255, 255, 0.6);
}
  
@media screen and (max-width: 1350px) {
    .news-card-list__title {
        max-width: 336px;
        font-size: 30px;
        line-height: 34px;
        margin-left: auto;
        margin-right: auto;
    }
  
    .news-card-list__block {
        max-width: 688px;
        grid-template-columns: repeat(auto-fit, 224px);
        grid-gap: 8px;
    }
}
  
@media screen and (max-width: 800px) {
    .news-card-list {
        padding-bottom: 40px;
    }
  
    .news-card-list__title {
        margin-left: 40px;
        margin-bottom: 32px;
        padding-top: 40px;
    }
  
    .news-card-list__block {
        margin-left: 40px;
        margin-right: 40px;
    }
  
    .news-card-list__button {
        width: 240px;
        height: 56px;
        margin-top: 32px;
    }
}
  
@media screen and (max-width: 550px) {
    .news-card-list {
        padding-bottom: 32px;
    }
  
    .news-card-list__title {
        max-width: 288px;
        font-size: 30px;
        line-height: 34px;
        margin-left: auto;
        margin-bottom: 24px;
        padding-top: 32px;
    }
  
    .news-card-list__block {
        grid-template-columns: repeat(auto-fit, 288px);
        grid-gap: 10px;
    }
  
    .news-card-list__button {
        width: 288px;
        margin-top: 15px;
    }
}
  