.news-card {
    display: flex;
    position: relative;
}

.news-card__link {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-size: 0;
    border-radius: 16px;
    text-decoration: none;
}

.news-card__image {
    vertical-align: middle;
    width: 100%;
    height: auto;
    max-height: 272px;
    border-radius: 16px 16px 0 0;
}

.news-card__container {
    height: 304px;
    padding: 20px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.news-card__date {
    color: #b6bcbf;
    margin-bottom: 12px;
    margin-top: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.news-card__text-wrapper {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.news-card__title {
    color: #1a1b22;
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.625rem;
    line-height: 1.875rem;
}

.news-card__description {
    color: #1a1b22;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.375rem;
}

.news-card__source {
    color: #b6bcbf;
    margin-top: auto;
    margin-bottom: 0;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
}

.news-card__save-button {
    background-color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    border-radius: 8px;
    background-image: url('../../images/save-button.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.news-card__save-button:hover {
    cursor: pointer;
    background-image: url('../../images/save-button-hover.svg');
}

.news-card__save-button_not-logged:hover::before {
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 40px;
    box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    content: 'Войдите, чтобы сохранять статьи';
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 45px;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 0.75rem;
}

.news-card__save-button_saved {
    background-image: url('../../images/save-button-saved.svg');
}

.news-card__delete-button {
    background-color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    border-radius: 8px;
    background-image: url('../../images/delete-button.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.news-card__delete-button:hover {
    cursor: pointer;
    background-image: url('../../images/delete-button-hover.svg');
}

.news-card__delete-button:hover::before {
    width: 159px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    padding: 0 5px;
    content: 'Убрать из сохранённых';
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 45px;
    z-index: 1;
    color: #000;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.875rem;
}

.news-card__keyword {
    background-color: #fff;
    position: absolute;
    top: 24px;
    left: 24px;
    min-width: 72px;
    height: 40px;
    padding: 8px 12px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

@media screen and (max-width: 1350px) {
    .news-card__container {
        padding: 16px;
    }

    .news-card__image {
        min-height: 210px;
    }

}

@media screen and (max-width: 800px) {
    .news-card__container {
        height: 270px;
    }

    .news-card__image {
        min-height: 150px;
    }

    .news-card__title {
        margin-bottom: 10px;
        font-size: 1.375rem;
        line-height: 1.5rem;
    }

    .news-card__save-button {
        top: 8px;
        right: 8px;
    }

    .news-card__delete-button {
        top: 8px;
        right: 8px;
    }

    .news-card__keyword {
        top: 8px;
        left: 8px;
    }
}

@media screen and (max-width: 550px) {
    .news-card__container {
        height: 250px;
    }

    .news-card__image {
        min-height: 196px;
    }

    .news-card__date {
        margin-bottom: 10px;
    }

    .news-card__text-wrapper {
        -webkit-line-clamp: 6;
    }

    .news-card__title {
        line-height: 1.625rem;
    }

    .news-card__save-button {
        top: 16px;
        right: 16px;
    }

    .news-card__delete-button {
        top: 16px;
        right: 16px;
    }

    .news-card__keyword {
        top: 16px;
        left: 16px;
    }
}
